:root{
  --bg-light-color: #fff;
  --bg-dark-color: #000;
  --bg-after-color: rgba(14, 12, 14, 0.6);
  --bg-poke-color-light-normal: rgba(247, 243, 233, 0.928);
  --bg-poke-color-light-fighting: rgba(247, 216, 216, 0.886);
  --bg-poke-color-light-flying: rgba(247, 233, 242, 0.928);
  --bg-poke-color-light-poison: rgba(242, 233, 247, 0.928);
  --bg-poke-color-light-ground: rgba(247, 242, 233, 0.928);
  --bg-poke-color-light-rock: rgba(239, 221, 195, 0.796);
  --bg-poke-color-light-bug: rgba(234, 247, 233, 0.928);
  --bg-poke-color-light-ghost: rgba(245, 233, 247, 0.823);
  --bg-poke-color-light-steel: rgba(247, 243, 233, 0.928);
  --bg-poke-color-light-fire: rgba(247, 233, 233, 0.928);
  --bg-poke-color-light-water: rgba(176, 224, 238, 0.928);
  --bg-poke-color-light-grass: rgba(233, 247, 239, 0.928);
  --bg-poke-color-light-electric: rgba(247, 245, 233, 0.928);
  --bg-poke-color-light-psychic: rgba(247, 233, 243, 0.928);
  --bg-poke-color-light-ice: rgba(233, 238, 247, 0.928);
  --bg-poke-color-light-dragon: rgba(240, 233, 247, 0.928);
  --bg-poke-color-light-dark: rgba(148, 147, 144, 0.27);
  --bg-poke-color-light-fairy: rgba(247, 233, 244, 0.928);
  --bg-poke-color-light-unknown: rgba(247, 243, 233, 0.928);
  --bg-poke-color-light-shadow: rgba(247, 233, 243, 0.928);

  --bg-poke-color-dark-normal: rgba(235, 204, 142, 0.835);
  --bg-poke-color-dark-fighting: rgba(221, 88, 88, 0.835);
  --bg-poke-color-dark-flying: rgba(175, 100, 225, 0.667);
  --bg-poke-color-dark-poison: rgba(165, 92, 205, 0.835);
  --bg-poke-color-dark-ground: rgba(235, 207, 142, 0.511);
  --bg-poke-color-dark-rock: rgba(203, 140, 95, 0.749);
  --bg-poke-color-dark-bug: rgba(156, 235, 142, 0.835);
  --bg-poke-color-dark-ghost: rgba(203, 142, 235, 0.835);
  --bg-poke-color-dark-steel: rgba(145, 148, 146, 0.835);
  --bg-poke-color-dark-fire: rgba(235, 142, 142, 0.835);
  --bg-poke-color-dark-water: rgba(142, 235, 215, 0.835);
  --bg-poke-color-dark-grass: rgba(144, 232, 123, 0.835);
  --bg-poke-color-dark-electric: rgba(235, 230, 142, 0.835);
  --bg-poke-color-dark-psychic: rgba(235, 142, 221, 0.835);
  --bg-poke-color-dark-ice: rgba(142, 235, 234, 0.835);
  --bg-poke-color-dark-dragon: rgba(149, 95, 203, 0.831);
  --bg-poke-color-dark-dark: rgba(148, 147, 144, 0.928);
  --bg-poke-color-dark-fairy: rgba(235, 142, 230, 0.42);
  --bg-poke-color-dark-unknown: rgba(247, 243, 233, 0.928);
  --bg-poke-color-dark-shadow: rgba(247, 233, 243, 0.928);
}